In [5]:
#Comprehensive list:   -- comprehensive list mdhye [output havay te adhi ani mg expression]
#1. Write a list comprehension to generate squares of numbers from 1 to 10.
[i * i for i in range(1, 11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
#2. Create a list of even numbers between 1 and 50 using list comprehension.
[i for i in range(1, 51) if i % 2 == 0]

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50]

In [2]:
#3. Convert all strings in a list to uppercase using list comprehension.

name = ['abc', 'def', 'ghi', 'jkl']
upper_list = [i.upper() for i in name]
upper_list

['ABC', 'DEF', 'GHI', 'JKL']

In [3]:
# 4. Given a list of integers, create a new list that contains only the positive numbers.
li = [1,2,3,-4,-3,7,4,-8,-9]
new_li = [i for i in li if i >= 0]
new_li

[1, 2, 3, 7, 4]

In [24]:
# 5. Create a list of tuples (num, num^2) for numbers 1 to 5.
[(i, i * i) for i in range(1, 6)]

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [7]:
# 6. Extract all vowels from a given string using list comprehension.
li = ['d','h','a','i','k','o','s','e','l','u']
vow_li = [i for i in li if i in ('a','e','i','o','u')]
vow_li

['a', 'i', 'o', 'e', 'u']

In [18]:
# 7. Flatten a 2D list using list comprehension.
twoD_Li = [[1,2],[3,4],[5,6],[7,8]]
flat_list = [j for i in twoD_Li for j in i]
flat_list

[1, 2, 3, 4, 5, 6, 7, 8]

In [26]:
# 8. Replace all negative numbers in a list with 0 using list comprehension.
li = [1,4,-2,6,-4,-7,3,2,-5,-6]
rep_neg = [ i if i >= 0 else 0 for i in li]
rep_neg

[1, 4, 0, 6, 0, 0, 3, 2, 0, 0]

In [4]:
# 9. Given a list of words, create a list of lengths of each word.
li = ['word','Bizmetric','Zoo','Python']
lenli = [len(i) for i in li]  
lenli

[4, 9, 3, 6]

In [9]:
# 10. Filter out words that start with the letter 'A' or 'a'.
L1 = ['Anamika','apple','Common']
initials = [i for i in L1 if i[0] == 'A' or i[0] == 'a']
initials

['Anamika', 'apple']

In [1]:
# 11. From a list of numbers, generate a list of “even” or “odd” strings using list comprehension.
    # (Like → [“even”, “odd”, “odd”, “even”…]
li = [1,2,5,3,6,7,4,8,10,12,15,16]
['Even' if i % 2 == 0 else 'Odd' for i in li]

['Odd',
 'Even',
 'Odd',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Even',
 'Even',
 'Even',
 'Odd',
 'Even']

In [13]:
# 12. Create a list of numbers divisible by both 3 and 5 in range 1–100.
div = [i for i in range(1, 101) if i % 3 == 0 and i % 5 == 0]
div

[15, 30, 45, 60, 75, 90]

In [18]:
# 13. Write a nested list comprehension to generate a multiplication table for 1–5.
mul = [[i*j for j in range(1,6)] for i in range(1,11)]
mul

[[1, 2, 3, 4, 5],
 [2, 4, 6, 8, 10],
 [3, 6, 9, 12, 15],
 [4, 8, 12, 16, 20],
 [5, 10, 15, 20, 25],
 [6, 12, 18, 24, 30],
 [7, 14, 21, 28, 35],
 [8, 16, 24, 32, 40],
 [9, 18, 27, 36, 45],
 [10, 20, 30, 40, 50]]

In [22]:
# 14. Convert a dictionary’s keys into a list using list comprehension.
d1 = {1:'a',
      2:'b',
      3:'c',
      4:'d'}
d1li = [i for i in d1]
d1li

[1, 2, 3, 4]

In [29]:
# 15. Extract numeric digits from a string using list comprehension.
string = '10BIZMETRIC11'
li = [i for i in string if i.isdigit()] 
li

['1', '0', '1', '1']

In [45]:
# 16. Use list comprehension to remove all spaces from a string.
str1 = 'Python Training'
spcs = ''.join([i for i in str1 if not i.isspace()])
spcs

'PythonTraining'

In [59]:
# 17. Create a list of characters that appear more than once in a string.
s1 = 'Hello, Python'
lichar = [i for i in s1 if s1.count(i) > 1]
lichar

['l', 'l', 'o', 'o']

In [73]:
# 18. From a list of sentences, generate a list of all words (split using list comprehension).
sentences = ['Hi there','Hello World','I am Python']
liall = [i for sentences in sentences for i in sentences.split()]
liall

['Hi', 'there', 'Hello', 'World', 'I', 'am', 'Python']

In [86]:
# 19. Create a list of unique elements from a list using list comprehension + condition.
li = [1,4,1,3,4,2,1,6,8,4,6,9]
unli = []
[unli.append(i) for i in li if i not in unli]
print(unli)

[1, 4, 3, 2, 6, 8, 9]

In [90]:
# 20. Generate all pairs (x, y) where x is from list A and y is from list B (cartesian product).
A = [1,2,3,4,5,6]
B = ['a','b','c','d','e','f']
pairs = [(x, y) for x in A for y in B]
pairs

[(1, 'a'),
 (1, 'b'),
 (1, 'c'),
 (1, 'd'),
 (1, 'e'),
 (1, 'f'),
 (2, 'a'),
 (2, 'b'),
 (2, 'c'),
 (2, 'd'),
 (2, 'e'),
 (2, 'f'),
 (3, 'a'),
 (3, 'b'),
 (3, 'c'),
 (3, 'd'),
 (3, 'e'),
 (3, 'f'),
 (4, 'a'),
 (4, 'b'),
 (4, 'c'),
 (4, 'd'),
 (4, 'e'),
 (4, 'f'),
 (5, 'a'),
 (5, 'b'),
 (5, 'c'),
 (5, 'd'),
 (5, 'e'),
 (5, 'f'),
 (6, 'a'),
 (6, 'b'),
 (6, 'c'),
 (6, 'd'),
 (6, 'e'),
 (6, 'f')]

In [91]:
# Lambda functions
# 1. Write a lambda to add two numbers.
add = lambda a, b: a + b
print(add(5, 3))

8

In [92]:
# 2. Create a lambda to check if a number is even.
even = lambda x: x % 2 == 0
print(even(4))

True

In [94]:
# 3. Write a lambda to get the last character of a string.
lastchar = lambda s: s[-1]
print(last_char("Hello"))

o

In [95]:
# 4. Use lambda with map() to square every number in a list.
nums = [1, 2, 3, 4]
squares = list(map(lambda x: x * x, nums))
print(squares)

[1, 4, 9, 16]

In [96]:
# 5. Use lambda with filter() to get only odd numbers from a list.
nums = [1, 2, 3, 4, 5, 6]
odds = list(filter(lambda x: x % 2 != 0, nums))
print(odds)

[1, 3, 5]

In [97]:
# 6. Use sorted() + lambda to sort a list of tuples by second value.
data = [(1, 3), (4, 1), (2, 5)]
sorted_data = sorted(data, key=lambda x: x[1])
print(sorted_data)

[(4, 1), (1, 3), (2, 5)]

In [100]:
# 7. Create a lambda to check if a string is a palindrome.
palindrome = lambda s: s == s[::-1]
print(palindrome("NITIN"))

True

In [101]:
# 8. Use lambda to find maximum of three numbers.
maximum = lambda a, b, c: max(a, b, c)
print(maximum(10, 25, 15))

25

In [102]:
# 9. Write a lambda to reverse a string.
reverse = lambda s: s[::-1]
print(reverse("Python"))

nohtyP

In [103]:
# 10. Use lambda with map() to convert a list of strings to integers.
nums = ["1", "2", "3", "4"]
int_nums = list(map(lambda x: int(x), nums))
print(int_nums)

[1, 2, 3, 4]

In [104]:
# 11. Use lambda with filter() to remove empty strings from a list.
words = ["Hi", "", "Hello", "", "Bye"]
result = list(filter(lambda x: x != "", words))
print(result)

['Hi', 'Hello', 'Bye']

In [105]:
# 12. Use lambda to compute factorial using reduce() (yeah, that one-liner madness).

# 13. Write a lambda that returns the larger of two numbers.
larger = lambda a, b: a if a > b else b
print(larger(10, 20))

20

In [106]:
# 14. Use lambda to check if number is divisible by 5.
div5 = lambda x: x % 5 == 0
print(div5(25))

True

In [107]:
# 15. Use lambda + map() to add 10 to each element of a list.
nums = [1, 2, 3, 4]
result = list(map(lambda x: x + 10, nums))
print(result)

[11, 12, 13, 14]

In [108]:
# 16. Use lambda to sort a list of dictionaries by a key (like "age").
people = [
    {"name": "Amit", "age": 25},
    {"name": "Riya", "age": 20},
    {"name": "Neha", "age": 23}
]

srtd_ppl = sorted(people, key=lambda x: x["age"])
print(srtd_ppl)

[{'name': 'Riya', 'age': 20}, {'name': 'Neha', 'age': 23}, {'name': 'Amit', 'age': 25}]

In [109]:
# 17. Write a lambda that returns True if a character is a vowel.
vowel = lambda x: x.lower() in "aeiou"
print(vowel("A"))

True

In [110]:
# 18. Use lambda + filter to extract words of length > 5 from a list.
words = ["Python", "Hi", "Developer", "Code"]
long_words = list(filter(lambda x: len(x) > 5, words))
print(long_words)

['Python', 'Developer']

In [111]:
# 19. Use lambda to calculate the area of a circle (πr²).
Carea = lambda r: 3.14 * r * r
print(Carea(5))

78.5

In [1]:
# 20. Write a lambda to remove duplicates from a list using filter + set.
lst = [1, 2, 2, 3, 4, 4, 5]
seen = set()
unique = list(filter(lambda x: x not in seen and not seen.add(x), lst))
unique

[1, 2, 3, 4, 5]

In [2]:
# 21. Use lambda with reduce() to find the product of all numbers in a list.
from functools import reduce
lst = [1, 2, 3, 4]
product = reduce(lambda x, y: x * y, lst)
product

24

In [3]:
# 22. Write a lambda that returns absolute value of a number.
abs_val = lambda x: x if x >= 0 else -x
abs_val(-10)

10

In [4]:
# 23. Use lambda to sort a list of strings by their length.
words = ["apple", "kiwi", "banana", "grape"]
sorted_words = sorted(words, key=lambda x: len(x))
sorted_words

['kiwi', 'apple', 'grape', 'banana']

In [5]:
# 24. Use lambda to get only uppercase characters from a string.
text = "This IS PyThON"
uppercase = ''.join(filter(lambda x: x.isupper(), text))
print(uppercase)

TISPTON

In [6]:
# 25. Write a lambda that returns the square if number is even, cube if odd.
func = lambda x: x**2 if x % 2 == 0 else x**3
print(func(4))  
print(func(3))

16
27

In [7]:
# 26. Use lambda with map to convert Celsius to Fahrenheit.
celsius = [0, 20, 30, 40]
fahrenheit = list(map(lambda c: (c * 9/5) + 32, celsius))
print(fahrenheit)

[32.0, 68.0, 86.0, 104.0]

In [8]:
# 27. Write a lambda to check if two strings are anagrams.
anagram = lambda s1, s2: sorted(s1) == sorted(s2)
print(anagram("eat", "tea"))

True

In [12]:
# 28. Use lambda to extract only numeric values from a mixed list.
mixed = [1, "a", 3.5, "hello", 7]
numbers = [x for x in mixed if type(x) in (int, float)]
print(numbers)

[1, 3.5, 7]

In [10]:
# 29. Use lambda inside any() to check if any list element is negative.
lst = [2, 4, -1, 6, -2, 9, -45]
neg = any(map(lambda x: x < 0, lst))
print(neg)

True

In [11]:
# 30. Use lambda to generate a function that multiplies any number by 
multiplier = lambda n: lambda x: x * n
dbl = multiplier(2)
trpl = multiplier(3)

print(dbl(5)) 
print(trpl(5))

10
15