#### ASSIGNMENT NO. 2

In [132]:
#Q1. Find the output of the following 
#Index  

# Q1. If  name = ''' Hi How are you? 
# Starterd learning python. 
# It's really interesting.'''
# Then what is the output of following code 

name = ''' Hi How are you? Starterd learning python. It's really interesting.'''
name[:]       # prints string from start to end

" Hi How are you? Starterd learning python. It's really interesting."

In [133]:
name[-10:-5]     #reverse indexing prints from -10th index to -5th index i.e. teres

'teres'

In [134]:
name[3:12]      #considers spaces too i.e. the 3rd index is space

' How are '

In [135]:
name[12:3]      #there is no path to reach 3 while moving forward from 12 so it returns empty space.

''

In [139]:
name[5:6]       #returns only 5th index as 6th is considered as per n-1

'o'

In [140]:
name[-4:-12]      #there is no path to reach -12 from -4 so it returns empty space.

''

In [141]:
name[::2]        # start:stop:step

' iHwaeyu tredlann yhn tsral neetn.'

In [142]:
name[::-2]      #start:stop:-2  i.e. step 2 from backward(alternate steps)

'.nteen larst nhy nnaldert uyeawHi '

In [144]:
# Q2. 
L1 = ['a' , 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major'] 

#a.
L1[:]

['a', 'b', 20, 30, 't', 100, 300, 400, 'Happy', 'major']

In [145]:
#b.
L1[::3]     #it always considers 1st element

['a', 30, 300, 'major']

In [146]:
#c.
L1[::-2]     #starts from -1st index and steps alternate

['major', 400, 100, 30, 'b']

In [150]:
#d. How to extract  value “Happy” based on index and negative index 
L1[8]     #based on positive index
L1[-2]    #based on negavtive index

'Happy'

In [152]:
#e. How to check type of data in list at 4th position 
type(L1[4])

str

In [163]:
#f. Extract indexes for 100, 300, 400 
L1.index(100)    #5
L1.index(300)    #6
L1.index(400)    #7

7

In [52]:
# Q3. If l2 =[1,2,3,5,[‘a’, ‘b’, ‘work hard’],100 , 200, “Success”] then what is the output of following

L2 =[1,2,3,5,['a', 'b', 'work hard'],100 , 200, "Success"]

L2[4]

['a', 'b', 'work hard']

In [168]:
L2[1:5]

[2, 3, 5, ['a', 'b', 'work hard']]

In [169]:
L2[7]

'Success'

In [173]:
L2[7][2]      #returns 2nd index of 7th index (i.e. Success cha 2nd index)

'c'

In [174]:
L2[ : 3]

[1, 2, 3]

In [175]:
L2[3:]

[5, ['a', 'b', 'work hard'], 100, 200, 'Success']

In [176]:
L2[7][2:]     #returns from 2nd index till last of 7th index (i.e. Success chya 2nd index pasun full word)

'ccess'

In [53]:
# Q 4.From the above L2 value ‘b’ must be changed to ‘BEE’. 

L2[4][1] = 'BEE'
L2

[1, 2, 3, 5, ['a', 'BEE', 'work hard'], 100, 200, 'Success']

In [54]:
# Q 5.From l2 “BEE” has to discard. 

L2[4].pop(1)

'BEE'

In [211]:
L2

[1, 2, 3, 5, ['a', 'work hard'], 100, 200, 'Success']

In [219]:
# Q 6.In l2 add a dictionary at the end {‘insect’: [‘bee’, ‘moth’] , ‘bird’ : [‘parrot’, ‘sparrow’]} 

d = {'insect': ['bee', 'moth'] , 'bird' : ['parrot', 'sparrow']}
L2.append(d)
L2

[1,
 2,
 3,
 5,
 ['a', 'work hard'],
 100,
 200,
 'Success',
 {'insect': ['bee', 'moth'], 'bird': ['parrot', 'sparrow']}]

In [222]:
# Q 7.From L2 extract insect information. 

L2[8]['insect']

['bee', 'moth']

In [56]:
# Q 8.Create a dictionary d1 = {‘a’:10, ‘b’:20, ‘c’ : 30} and add the d1 at 2nd position of l2 

d1 = {'a':10, 'b':20, 'c' : 30}

#add the d1 at 2nd position of l2 
L2.insert(2, d1)
L2

[1,
 2,
 {'a': 10, 'b': 20, 'c': 30},
 {'a': 10, 'b': 20, 'c': 30},
 3,
 5,
 ['a', 'work hard'],
 100,
 200,
 'Success']

In [232]:
#Q 9.Based on new l2 created here extract the value 10 from l2 dictionary.

L2[2]['a']

10

In [58]:
# Q 10. If l2 =[1,2,3,5, (90,40,50,10), ‘Python’, 400 ,[‘a’, ‘b’, ‘work hard’],100 , 200, “Success”, (200,300, “Hundreds”)] 
#then what is the output of following 

l2 = [1,2,3,5, (90,40,50,10), 'Python', 400 ,['a', 'b', 'work hard'],100 , 200, "Success", (200,300, "Hundreds")] 

l2[4][2]
l2

[1,
 2,
 3,
 5,
 (90, 40, 50, 10),
 'Python',
 400,
 ['a', 'b', 'work hard'],
 100,
 200,
 'Success',
 (200, 300, 'Hundreds')]

In [59]:
l2[5][:]

'Python'

In [60]:
l2[2][:]

TypeError: 'int' object is not subscriptable

In [245]:
l2[1:5]

[2, 3, 5, (90, 40, 50, 10)]

In [247]:
l2[5]

'Python'

In [251]:
l2[5][3:-1]

'ho'

In [253]:
l2[-1]

(200, 300, 'Hundreds')

In [256]:
l2[-4:-3]

[100]

In [259]:
l2[-4: -10]

[]

In [260]:
l2[7][2]

'work hard'

In [262]:
l2[-7][2:]

'thon'

In [265]:
l2[ :-3]

[1, 2, 3, 5, (90, 40, 50, 10), 'Python', 400, ['a', 'b', 'work hard'], 100]

In [266]:
l2[-3:]

[200, 'Success', (200, 300, 'Hundreds')]

In [277]:
# if-elif-else: 

#Q.11. Ask user to enter the marks and define if the user got distinction, first class, second class, pass, Fails 

# If marks are more than 80 output must be “You got distinction” 
# For marks more than 60 output must be “You got First class” 
# Marks more than 40 will display “You got second class” 
# Marks more than or equal to 35 “PASS” Otherwise "Fail" 

marks = input("Enter your marks:")

if marks.isdigit():
    marks = int(marks)
    if marks > 100 or marks < 0:
        print("Improper marks")
    elif marks > 80:
        print("You got Distinction")
    elif marks > 60:
        print("You got First Class")
    elif marks > 40:
        print("You got Second Class")
    elif marks >= 35:
        print("PASS")
    else:
        print("Fail")
else:
    print("Not a Number")

Enter your marks: 67

You got First Class

In [62]:
#CONVERTING THE ABOVE PROGRAM INTO FUNCTION
#Q.11.(function) Ask user to enter the marks and define if the user got distinction, first class, second class, pass, Fails 

# If marks are more than 80 output must be “You got distinction” 
# For marks more than 60 output must be “You got First class” 
# Marks more than 40 will display “You got second class” 
# Marks more than or equal to 35 “PASS” Otherwise "Fail" 

def Result(marks):
    try:
        marks = float(marks)

        if marks > 100 or marks < 0:
            print("Improper marks")
        elif marks > 80:
            print("You got Distinction")
        elif marks > 60:
            print("You got First Class")
        elif marks > 40:
            print("You got Second Class")
        elif marks >= 35:
            print("PASS")
        else:
            print("Fail")

    except ValueError:
        print("Not a Number")

marks = input("Enter your marks: ")
Result(marks)

Enter your marks:  89

You got Distinction

In [7]:
# Q.12. Ask user to enter information about salary of the employee per year and rating received as A, B, C, D 

# If salary upto 5 lpa then increament based on ratings are  A = 16% , B=12%, C= 10%, D=6% 
# If salary upto 10 lpa then increament based on ratings are  A = 14% , B=10%, C= 8%, D=6% 
# If salary upto 15 lpa then increament based on ratings are  A = 8% , B=6%, C= 4%, D = no increment 
# If salary upto 23 lpa then increament based on ratings are  A = 7% , B=5%, C= 4%, D=no 

Salary = int(input("Enter your Salary"))
Rating = str(input("Enter your rating"))
New_Sal = 0

if Salary <= 500000:
    if Rating == 'A':
        New_Sal = Salary + Salary * 0.16
        print(New_Sal)
    elif Rating == 'B':
        New_Sal = Salary + Salary * 0.12
        print(New_Sal)
    elif Rating == 'C':
        New_Sal = Salary + Salary * 0.10
        print(New_Sal)
    elif Rating == 'D':
        New_Sal = Salary + Salary * 0.06
        print(New_Sal)
elif Salary <= 1000000:
    if Rating == 'A':
        New_Sal = Salary + Salary * 0.14
        print(New_Sal)
    elif Rating == 'B':
        New_Sal = Salary + Salary * 0.10
        print(New_Sal)
    elif Rating == 'C':
        New_Sal = Salary + Salary * 0.08
        print(New_Sal)
    elif Rating == 'D':
        New_Sal = Salary + Salary * 0.06
        print(New_Sal)
elif Salary <= 1500000:
    if Rating == 'A':
        New_Sal = Salary + Salary * 0.08
        print(New_Sal)
    elif Rating == 'B':
        New_Sal = Salary + Salary * 0.06
        print(New_Sal)
    elif Rating == 'C':
        New_Sal = Salary + Salary * 0.04
        print(New_Sal)
    elif Rating == 'D':
        New_Sal = Salary
        print(New_Sal)
elif Salary <= 2300000:
    if Rating == 'A':
        New_Sal = Salary + Salary * 0.07
        print(New_Sal)
    elif Rating == 'B':
        New_Sal = Salary + Salary * 0.05
        print(New_Sal)
    elif Rating == 'C':
        New_Sal = Salary + Salary * 0.04
        print(New_Sal)
    elif Rating == 'D':
        New_Sal = Salary
        print(New_Sal)
else:
    print("Invalid")

Enter your Salary 1100000
Enter your rating D

1100000

In [37]:
# Q.12.(Using Function) Ask user to enter information about salary of the employee per year and rating received as A, B, C, D 

# If salary upto 5 lpa then increament based on ratings are  A = 16% , B=12%, C= 10%, D=6% 
# If salary upto 10 lpa then increament based on ratings are  A = 14% , B=10%, C= 8%, D=6% 
# If salary upto 15 lpa then increament based on ratings are  A = 8% , B=6%, C= 4%, D = no increment 
# If salary upto 23 lpa then increament based on ratings are  A = 7% , B=5%, C= 4%, D=no 

def Increment(Salary, Rating):
    if Salary <= 500000:
        if Rating == 'A':
            New_Sal = Salary + Salary * 0.16
            print(New_Sal)
        elif Rating == 'B':
            New_Sal = Salary + Salary * 0.12
            print(New_Sal)
        elif Rating == 'C':
            New_Sal = Salary + Salary * 0.10
            print(New_Sal)
        elif Rating == 'D':
            New_Sal = Salary + Salary * 0.06
            print(New_Sal)
        else:
            print("No such Rating")
    elif Salary <= 1000000:
        if Rating == 'A':
            New_Sal = Salary + Salary * 0.14
            print(New_Sal)
        elif Rating == 'B':
            New_Sal = Salary + Salary * 0.10
            print(New_Sal)
        elif Rating == 'C':
            New_Sal = Salary + Salary * 0.08
            print(New_Sal)
        elif Rating == 'D':
            New_Sal = Salary + Salary * 0.06
            print(New_Sal)
        else:
            print("No such Rating")
    elif Salary <= 1500000:
        if Rating == 'A':
            New_Sal = Salary + Salary * 0.08
            print(New_Sal)
        elif Rating == 'B':
            New_Sal = Salary + Salary * 0.06
            print(New_Sal)
        elif Rating == 'C':
            New_Sal = Salary + Salary * 0.04
            print(New_Sal)
        elif Rating == 'D':
            New_Sal = Salary
            print(New_Sal)
        else:
            print("No such Rating")
    elif Salary <= 2300000:
        if Rating == 'A':
            New_Sal = Salary + Salary * 0.07
            print(New_Sal)
        elif Rating == 'B':
            New_Sal = Salary + Salary * 0.05
            print(New_Sal)
        elif Rating == 'C':
            New_Sal = Salary + Salary * 0.04
            print(New_Sal)
        elif Rating == 'D':
            New_Sal = Salary
            print(New_Sal)
        else:
            print("No such Rating")
    else:
        print("Invalid")
        
Salary = int(input("Enter your Salary"))
Rating = str(input("Enter your rating"))
New_Sal = 0

Increment(Salary, Rating)

Enter your Salary 500000
Enter your rating A

580000.0

In [28]:
#Simple way
#Q.13. Ask user to opt for courses for master degree

L1 = ["HR", "Finance", "Marketing", "DS"]

fees = 200000
analytics_extra = fees * 0.10
hostel_rent = 200000
transportation_charges = 13000
food_per_month = 2000

total_cost = 0

print("These are the courses for master's degree:", L1)

while True:
    try:
        subject = input("Enter Subject: ")

        if subject in L1:

            print("You have selected", subject, "field")

            analytics = input("Do you want analytics (Y/N): ").lower()

            if subject == "DS" and analytics == 'y':
                print("DS does not have analytics option")
                analytics = 'n'

            # Base fee calculation
            if analytics == 'y':
                print("You have opted", subject, "analytics")
                total_cost = fees + analytics_extra
            else:
                total_cost = fees

            facility = input("Do you want extra facilities (y/n): ").lower()

            if facility == 'y':

                hostel = input("Do you want hostel (Y/N): ").lower()
                if hostel == 'y':
                    total_cost += hostel_rent

                food = int(input("For how many months do you want food facility: "))
                if food > 0:
                    total_cost += food * food_per_month

                transportation = input("Do you want transportation (semester/annual/no): ").lower()

                if transportation == "semester":
                    total_cost += transportation_charges
                elif transportation == "annual":
                    total_cost += transportation_charges * 2

            print("Your total annual fee is:", total_cost)
            break

        else:
            print("Please select valid course.")

    except ValueError:
        print("Please enter correct data.")

These are the courses for master's degree: ['HR', 'Finance', 'Marketing', 'DS']

Enter Subject:  Finance

You have selected Finance field

Do you want analytics (Y/N):  Y

You have opted Finance analytics

Do you want extra facilities (y/n):  Y
Do you want hostel (Y/N):  N
For how many months do you want food facility:  12
Do you want transportation (semester/annual/no):  ANNUAL

Your total annual fee is: 270000.0

In [63]:
# Q.13. Course Selection Program 
#(Using Functions Only)

L1 = ["HR", "Finance", "Marketing", "DS"]

FEES = 200000
ANALYTICS_EXTRA = FEES * 0.10
HOSTEL_RENT = 200000
TRANSPORT_CHARGE = 13000
FOOD_PER_MONTH = 2000


def CalculateBaseFees(subject):
    analytics = input("Do you want analytics (Y/N): ").lower()

    if subject == "DS" and analytics == 'y':
        print("DS does not have analytics option")
        analytics = 'n'

    if analytics == 'y':
        print("You have opted", subject, "analytics")
        return FEES + ANALYTICS_EXTRA
    else:
        return FEES


def ExtraFacilities(total_cost):
    hostel = input("Do you want hostel (Y/N): ").lower()
    if hostel == 'y':
        total_cost += HOSTEL_RENT

    try:
        food = int(input("For how many months do you want food facility: "))
        if food > 0:
            total_cost += food * FOOD_PER_MONTH
    except ValueError:
        print("Invalid food input. Skipping food charges.")

    transportation = input("Transportation (semester/annual/no): ").lower()
    if transportation == "semester":
        total_cost += TRANSPORT_CHARGE
    elif transportation == "annual":
        total_cost += TRANSPORT_CHARGE * 2

    return total_cost


def CourseSelection():
    print("Available courses:", L1)

    subject = input("Enter Subject: ")

    if subject not in L1:
        print("Invalid subject selected.")
        return

    print("You selected", subject)

    total_cost = calculate_base_fee(subject)

    facility = input("Do you want extra facilities (Y/N): ").lower()
    if facility == 'y':
        total_cost = extra_facilities(total_cost)

    print("Your total annual fee is:", total_cost)

CourseSelection()

Available courses: ['HR', 'Finance', 'Marketing', 'DS']

Enter Subject:  DS

You selected DS

Do you want analytics (Y/N):  Y

DS does not have analytics option

Do you want extra facilities (Y/N):  Y
Do you want hostel (Y/N):  Y
For how many months do you want food facility:  12
Transportation (semester/annual/no):  no

Your total annual fee is: 424000

In [27]:
#Solved using class and methods

#Q.13 Ask user to opt for courses for master degree based on the following
# L1 = [“HR”, “Finance”, “Marketing”, “DS”]
# Based on above subject there are two different streams. 
# For example- HR is having HR core and HR analytics and Marketing is having core and Marketing analytics. 
# Analytics is the optional subject and having added extra fees. DS is not having analytics.
# If fees for L1 is 2 lakhs for each course core subject having the same fees but analytics subject having 10% extra on 2 lakhs.
# If student opts for hostel then 2 lakhs per year is added. For food monthly 2000 .
# Transportation charges 13000 per semester. Calculate the total annual cost based on selected service.
# User will enter values as subject, analytics(Y/N), Hostel (Y/N), food(How many months?), Transportation(semester/annual)

class OptCourses:

    def __init__(self):
        self.L1 = ["HR", "Finance", "Marketing", "DS"]
        self.total_cost = 0
        self.list_sem = ['semester',"anuual","no"]
        self.fees = 200000
        self.analytics_fee = self.fees + self.fees * 0.10
        self.hostel_rent = 200000
        self.transporation_charges = 13000
        self.food_per_month = 2000    


    def BasicSubjects(self):
        print(f"These are the courses for master's degree {self.L1}")
        while True:
            try:
                subject = input("Enter Subject:")
                if subject in self.L1:
                    print(f"You have selected {subject} field")
                    
                    self.analytics = input("Do you have applied for analytics:(Y/N)").lower()

                    if subject == "DS" and self.analytics == 'y':
                        print("DS does not have analytics option")
                        self.analytics = 'n'

                    if self.analytics == 'y':
                        print(f"You have opted {subject} analytics")
                        self.total_cost = self.fees + (self.fees * 0.10)
                    else:
                        self.total_cost = self.fees
                        
                    self.facility = input("Do you want extra facilities (y/n): ").lower()
                    if self.facility == 'y':
                        self.ExtraFacilities()


                else:
                    print("Please select valid course")
                break

            except ValueError():
                print("Please enter correct data")


    def ExtraFacilities(self):
        self.hostel = input("Do you have hostel?(Y/N)").lower()
        
        if  self.hostel.lower() == 'y':
            self.total_cost += self.hostel_rent

        self.food = int(input("for How many months you have food facility)"))
        if self.food>0 :
            self.total_cost += self.food * self.food_per_month

        self.transporation=input("Do you have transportation?(semester/annual/no):").lower()
        if  self.transporation in self.list_sem and self.transporation != 'no': 
            self.total_cost += self.transporation_charges


        print("Your total fee is:",self.total_cost)

Courseobj = OptCourses()
Courseobj.BasicSubjects()

These are the courses for master's degree ['HR', 'Finance', 'Marketing', 'DS']

Enter Subject: DS

You have selected DS field

Do you have applied for analytics:(Y/N) Y

DS does not have analytics option

Do you want extra facilities (y/n):  Y
Do you have hostel?(Y/N) Y
for How many months you have food facility) 6
Do you have transportation?(semester/annual/no): NO

Your total fee is: 412000

In [31]:
#Without creating Functions
#Q.14. Digitalize the book allotment process for school. Charges are mentioned here in the given table:
# Book Prices Dictionary
Book_prices = {
    '1st':{'Hindi':60, 'Marathi':60, 'English':80, 'Science':90, 'Maths':100},
    '2nd':{'Hindi':60, 'Marathi':60, 'English':80, 'Science':90, 'Maths':100},
    '3rd':{'Hindi':60, 'Marathi':60, 'English':80, 'Science':90, 'Maths':100},
    '4th':{'Hindi':60, 'Marathi':60, 'English':80, 'Science':90, 'Maths':100},

    '5th':{'Hindi':100, 'Marathi':100, 'English':100, 'Science':120, 'Maths':140},
    '6th':{'Hindi':100, 'Marathi':100, 'English':100, 'Science':120, 'Maths':140},
    '7th':{'Hindi':100, 'Marathi':100, 'English':100, 'Science':120, 'Maths':140},
    '8th':{'Hindi':100, 'Marathi':100, 'English':100, 'Science':120, 'Maths':140},

    '9th':{'Hindi':150, 'Marathi':150, 'English':150, 'Science':200, 'Maths':250},
    '10th':{'Hindi':150, 'Marathi':150, 'English':150, 'Science':200, 'Maths':250}
}

# Notebook Prices Dictionary
Notebook_prices = {
    'square':{'100 pages':40, '200 pages':70},
    '4lines':{'100 pages':30, '200 pages':50},
    '2lines':{'100 pages':30, '200 pages':50},
    'single lines':{'100 pages':60, '200 pages':100},
    'A4 Notebook':{'100 pages':100, '200 pages':180}
}

Standard = input("Enter your class (like 5th/6th/1st): ") 

book_total = 0
print("\nAvailable Books:", Book_prices[Standard]) 

n = int(input("How many books do you want? "))

for i in range(n):
    Subject = input("Enter book name: ")
    book_total += Book_prices[Standard][Subject]

print("Total Book Cost: ₹", book_total)

notebook_total = 0
print("\nAvailable Notebook Types:", Notebook_prices)

m = int(input("How many notebooks do you want? "))

for i in range(m): 
    n_type = input("Enter notebook type (square/4lines/etc): ")
    pages = input("Enter pages (100 pages / 200 pages): ")
    notebook_total += Notebook_prices[n_type][pages]

print("Total Notebook Cost: ₹", notebook_total)

grand_total = book_total + notebook_total

print("\n------ BILL SUMMARY ------")
print("Student Name:", Name)
print("Standard:", Standard)
print("Books Cost: ₹", book_total)
print("Notebooks Cost: ₹", notebook_total)
print("\n------ GR ------")

print("Grand Total: ₹", grand_total)

Enter Student's Name:  Lakshmi
Enter your class (like 5th/6th/1st):  10th

Available Books: {'Hindi': 150, 'Marathi': 150, 'English': 150, 'Science': 200, 'Maths': 250}

How many books do you want?  2
Enter book name:  Science
Enter book name:  Hindi

Total Book Cost: ₹ 350

Available Notebook Types: {'square': {'100 pages': 40, '200 pages': 70}, '4lines': {'100 pages': 30, '200 pages': 50}, '2lines': {'100 pages': 30, '200 pages': 50}, 'single lines': {'100 pages': 60, '200 pages': 100}, 'A4 Notebook': {'100 pages': 100, '200 pages': 180}}

How many notebooks do you want?  2
Enter notebook type (square/4lines/etc):  4lines
Enter pages (100 pages / 200 pages):  200 pages
Enter notebook type (square/4lines/etc):  square
Enter pages (100 pages / 200 pages):  100 pages

Total Notebook Cost: ₹ 90

------ BILL SUMMARY ------
Student Name: Lakshmi
Standard: 10th
Books Cost: ₹ 350
Notebooks Cost: ₹ 90

------ GR ------
Grand Total: ₹ 440

In [30]:
#Using functions
#Q.14. Digitalize the book allotment process for school. Charges are mentioned here in the given table:
# Book Prices Dictionary
# Should include :
# 1.input items
# 2.total_amt_calculation
# 3.bill printing

Book_prices = {
    '1st':{'Hindi':60, 'Marathi':60, 'English':80, 'Science':90, 'Maths':100},
    '2nd':{'Hindi':60, 'Marathi':60, 'English':80, 'Science':90, 'Maths':100},
    '3rd':{'Hindi':60, 'Marathi':60, 'English':80, 'Science':90, 'Maths':100},
    '4th':{'Hindi':60, 'Marathi':60, 'English':80, 'Science':90, 'Maths':100},

    '5th':{'Hindi':100, 'Marathi':100, 'English':100, 'Science':120, 'Maths':140},
    '6th':{'Hindi':100, 'Marathi':100, 'English':100, 'Science':120, 'Maths':140},
    '7th':{'Hindi':100, 'Marathi':100, 'English':100, 'Science':120, 'Maths':140},
    '8th':{'Hindi':100, 'Marathi':100, 'English':100, 'Science':120, 'Maths':140},

    '9th':{'Hindi':150, 'Marathi':150, 'English':150, 'Science':200, 'Maths':250},
    '10th':{'Hindi':150, 'Marathi':150, 'English':150, 'Science':200, 'Maths':250}
}

Notebook_prices = {
    'square':{'100 pages':40, '200 pages':70},
    '4lines':{'100 pages':30, '200 pages':50},
    '2lines':{'100 pages':30, '200 pages':50},
    'single lines':{'100 pages':60, '200 pages':100},
    'A4 Notebook':{'100 pages':100, '200 pages':180}
}

def Notebooks():
    notebook_total = 0
    m = int(input("How many Notebooks do you want? "))
    print("\nAvailable Notebook Types:", Notebook_prices.keys())
    for i in range(m): 
        n_type = input("Enter notebook type (square/4lines/etc): ")
        pages = input("Enter pages (100 pages / 200 pages): ")
        notebook_total = notebook_total + Notebook_prices[n_type][pages]
        print("Total Notebook Cost: ₹", notebook_total)
    return notebook_total 
    
def Books():
    book_total = 0
    n = int(input("How many books do you want? "))
    for i in range(n):
        Standard = input("Enter your class (like 5th/6th/1st): ") 
        print("\nAvailable Books:", Book_prices[Standard].keys()) 
        Subject = input("Enter book name: ")
        book_total = book_total + Book_prices[Standard][Subject]
        print("Total Book Cost: ₹", book_total)
    return book_total
    
def Books_Notebooks():
    print("Choose Notebooks you want")
    notebook_total = Notebooks()
    print("Now choose Books :")
    book_total = Books()
    return book_total, notebook_total

def PrintBill(Items, book_total, notebook_total):
    print("\n------ BILL SUMMARY ------")
    if Items == 'Book(s)':
        print("Books Cost : Rs.", book_total)

    elif Items == 'Notebook(s)':
        print("Notebooks Cost: Rs.", notebook_total)
        
    elif Items == 'Both':
        print("Books Cost : Rs.", book_total)
        print("Notebooks Cost: Rs.", notebook_total)
        grand_total = book_total + notebook_total
        print("\n------ TOTAL ------")
        print("Grand Total: Rs.", grand_total)

    else:
        print("Thank You for visiting!")


Items = input("What do you want ? (Book(s)/Notebook(s)/Both):")

book_total = 0
notebook_total = 0

if Items == 'Notebook(s)':
    notebook_total = Notebooks()
elif Items == 'Book(s)':
    book_total = Books()
elif Items == 'Both':
    book_total, notebook_total = Books_Notebooks()
else:
    print("Oops!! No such item available")


Summary = input("Do you want Bill? (yes/no)")

if Summary.lower() == 'yes':
    PrintBill(Items, book_total, notebook_total)

elif Summary.lower() == 'no':
    print("Ok")

else:
    print("Exit")

What do you want ? (Book(s)/Notebook(s)/Both): Both

Choose Notebooks you want

How many Notebooks do you want?  2

Available Notebook Types: dict_keys(['square', '4lines', '2lines', 'single lines', 'A4 Notebook'])

Enter notebook type (square/4lines/etc):  square
Enter pages (100 pages / 200 pages):  200 pages

Total Notebook Cost: ₹ 70

Enter notebook type (square/4lines/etc):  4lines
Enter pages (100 pages / 200 pages):  100 pages

Total Notebook Cost: ₹ 100
Now choose Books :

How many books do you want?  1
Enter your class (like 5th/6th/1st):  10th

Available Books: dict_keys(['Hindi', 'Marathi', 'English', 'Science', 'Maths'])

Enter book name:  Maths

Total Book Cost: ₹ 250

Do you want Bill? (yes/no) yes

------ BILL SUMMARY ------
Books Cost : Rs. 250
Notebooks Cost: Rs. 100

------ TOTAL ------
Grand Total: Rs. 350

In [46]:
#Q.14. (Using Class and Methods)
class SchoolAllotment:

    def __init__(self):
        
        self.Book_prices = {
            '1st':{'Hindi':60, 'Marathi':60, 'English':80, 'Science':90, 'Maths':100},
            '2nd':{'Hindi':60, 'Marathi':60, 'English':80, 'Science':90, 'Maths':100},
            '3rd':{'Hindi':60, 'Marathi':60, 'English':80, 'Science':90, 'Maths':100},
            '4th':{'Hindi':60, 'Marathi':60, 'English':80, 'Science':90, 'Maths':100},

            '5th':{'Hindi':100, 'Marathi':100, 'English':100, 'Science':120, 'Maths':140},
            '6th':{'Hindi':100, 'Marathi':100, 'English':100, 'Science':120, 'Maths':140},
            '7th':{'Hindi':100, 'Marathi':100, 'English':100, 'Science':120, 'Maths':140},
            '8th':{'Hindi':100, 'Marathi':100, 'English':100, 'Science':120, 'Maths':140},

            '9th':{'Hindi':150, 'Marathi':150, 'English':150, 'Science':200, 'Maths':250},
            '10th':{'Hindi':150, 'Marathi':150, 'English':150, 'Science':200, 'Maths':250}
        }

        self.Notebook_prices = {
            'square':{'100 pages':40, '200 pages':70},
            '4lines':{'100 pages':30, '200 pages':50},
            '2lines':{'100 pages':30, '200 pages':50},
            'single lines':{'100 pages':60, '200 pages':100},
            'A4 Notebook':{'100 pages':100, '200 pages':180}
        }

        self.book_total = 0
        self.notebook_total = 0


    def Notebooks(self):
        try:
            m = int(input("How many Notebooks do you want? "))
        except ValueError:
            print("Invalid number entered.")
            return

        print("\nAvailable Notebook Types:", self.Notebook_prices.keys())

        for i in range(m):
            try:
                n_type = input("Enter notebook type: ")
                pages = input("Enter pages (100 pages / 200 pages): ")
                self.notebook_total += self.Notebook_prices[n_type][pages]
            except KeyError:
                print("Invalid notebook type or pages entered. Skipping this item.")
            except Exception:
                print("Something went wrong.")

        print("Total Notebook Cost: ₹", self.notebook_total)


    def Books(self):
        try:
            n = int(input("How many books do you want? "))
        except ValueError:
            print("Invalid number entered.")
            return

        for i in range(n):
            try:
                Standard = input("Enter your class (like 5th/6th/1st): ")
                print("Available Books:", self.Book_prices[Standard].keys())
                Subject = input("Enter book name: ")
                self.book_total += self.Book_prices[Standard][Subject]
            except KeyError:
                print("Invalid class or subject entered. Skipping this item.")
            except Exception:
                print("Something went wrong.")

        print("Total Book Cost: ₹", self.book_total)


    def Books_Notebooks(self):
        print("Choose Notebooks")
        self.Notebooks()
        print("\nNow choose Books")
        self.Books()


    def PrintBill(self, Items):

        print("\n------ BILL SUMMARY ------")

        if Items in ('books', 'book'):
            print("Books Cost : Rs.", self.book_total)

        elif Items in ('notebooks', 'notebook'):
            print("Notebooks Cost: Rs.", self.notebook_total)

        elif Items == 'Both':
            print("Books Cost : Rs.", self.book_total)
            print("Notebooks Cost: Rs.", self.notebook_total)
            print("\n------ TOTAL ------")
            print("Grand Total: Rs.", self.book_total + self.notebook_total)

        else:
            print("Thank You for visiting!")
obj = SchoolAllotment()

Items = input("What do you want ? (Book(s)/Notebook(s)/Both): ").lower()

if Items in ('notebooks', 'notebook'):
    obj.Notebooks()

elif Items in ('books', 'book'):
    obj.Books()

elif Items == 'Both':
    obj.Books_Notebooks()

else:
    print("Oops!! No such item available")

Summary = input("Do you want Bill? (yes/no): ").lower()

if Summary in ('yes','y'):
    obj.PrintBill(Items)
elif Summary in ('no','n'):
    obj.PrintBill(Items)
else:
    print("Thank Your For Visiting!")

What do you want ? (Book(s)/Notebook(s)/Both):  NOTEBOOKS
How many Notebooks do you want?  1

Available Notebook Types: dict_keys(['square', '4lines', '2lines', 'single lines', 'A4 Notebook'])

Enter notebook type:  square
Enter pages (100 pages / 200 pages):  100 pages

Total Notebook Cost: ₹ 40

Do you want Bill? (yes/no):  YES

------ BILL SUMMARY ------
Notebooks Cost: Rs. 40

In [33]:
#Q.15 Create an interest bucket for Fix Deposit in the bank. 
#Ask user to enter start date and end date for the FD 
#and check which bucket list it belongs to 
#and assign the interest rate

from datetime import datetime

def calculate_days(start_date, end_date):
    date_format = "%d-%m-%Y"
    try:
        d1 = datetime.strptime(start_date, date_format)
        d2 = datetime.strptime(end_date, date_format)
        return (d2 - d1).days
        
    except ValueError:
        print("Invalid date format.. Please enter date in dd-mm-yyyy format.")
        return None


def get_interest_rate(days):
    try:
        if days >= 7 and days <= 45:
            return "7 days to 45 days", 5.75
        
        elif days >= 46 and days <= 179:
            return "46 days to 179 days", 6.25
        
        elif days >= 180 and days <= 210:
            return "180 days to 210 days", 6.35
        
        elif days >= 211 and days < 365:
            return "211 days to less than 1 year", 6.40
        
        elif days >= 365 and days < 730:
            return "1 year to less than 2 years", 7.00
        
        elif days >= 730 and days < 1095:
            return "2 years to less than 3 years", 6.75
        
        elif days >= 1095 and days < 1825:
            return "3 years to less than 5 years", 6.70
        
        elif days >= 1825 and days <= 3650:
            return "5 years up to 10 years", 6.60
        
        else:
            return "Invalid Tenure", 0

    except Exception:
        print("Error in calculating interest rate:")
        return "Error", 0

def fd_interest_bucket():
    try:
        start_date = input("Enter FD Start Date (dd-mm-yyyy): ")
        end_date = input("Enter FD End Date (dd-mm-yyyy): ")

        days = calculate_days(start_date, end_date)

        if days is None:
            return

        if days <= 0:
            print("End date must be after start date.")
            return

        bucket, rate = get_interest_rate(days)

        print("\nTotal FD Days:", days)
        print("Tenure Bucket:", bucket)
        print("Assigned Interest Rate:", rate, "%")

    except Exception as e:
        print("Unexpected Error:", e)

fd_interest_bucket()

Enter FD Start Date (dd-mm-yyyy):  01-02-2023
Enter FD End Date (dd-mm-yyyy):  01-02-2026

Total FD Days: 1096
Tenure Bucket: 3 years to less than 5 years
Assigned Interest Rate: 6.7 %

In [68]:
#Using Class and Methods
#Q.15 Create an interest bucket for Fix Deposit in the bank. 
#Ask user to enter start date and end date for the FD 
#and check which bucket list it belongs to 
#and assign the interest rate

from datetime import datetime

class FDInterestBucket:

    def __init__(self, start_date, end_date):
        self.start_date = start_date
        self.end_date = end_date
        self.days = 0

    def CalDays(self):
        date_format = "%d-%m-%Y"
        try:
            d1 = datetime.strptime(self.start_date, date_format)
            d2 = datetime.strptime(self.end_date, date_format)
            self.days = (d2 - d1).days
            return self.days

        except ValueError:
            print("Invalid date format. Please enter date in dd-mm-yyyy format.")
            return None

    def IntrstRate(self):
        days = self.days

        if days >= 7 and days <= 45:
            return "7 days to 45 days", 5.75

        elif days >= 46 and days <= 179:
            return "46 days to 179 days", 6.25

        elif days >= 180 and days <= 210:
            return "180 days to 210 days", 6.35

        elif days >= 211 and days < 365:
            return "211 days to less than 1 year", 6.40

        elif days >= 365 and days < 730:
            return "1 year to less than 2 years", 7.00

        elif days >= 730 and days < 1095:
            return "2 years to less than 3 years", 6.75

        elif days >= 1095 and days < 1825:
            return "3 years to less than 5 years", 6.70

        elif days >= 1825 and days <= 3650:
            return "5 years up to 10 years", 6.60

        else:
            return "Invalid Tenure", 0

    def Result(self):
        days = self.CalDays()

        if days is None:
            return

        if days <= 0:
            print("End date must be after start date.")
            return

        bucket, rate = self.IntrstRate()

        print("\nTotal FD Days:", days)
        print("Tenure Bucket:", bucket)
        print("Assigned Interest Rate:", rate, "%")

start_date = input("Enter FD Start Date (dd-mm-yyyy): ")
end_date = input("Enter FD End Date (dd-mm-yyyy): ")

fdobj = FDInterestBucket(start_date, end_date)
fdobj.Result()

Enter FD Start Date (dd-mm-yyyy):  01-01-2024
Enter FD End Date (dd-mm-yyyy):  01-01-2026

Total FD Days: 731
Tenure Bucket: 2 years to less than 3 years
Assigned Interest Rate: 6.75 %

####                                     **** TYPE CASTING ****

In [122]:
#Type Casting  
#Q.17. a
a = 100
type(a)

int

In [123]:
#Convert a to string 
a = str(a)
type(a)     #converted a as string which is stored in b

str

In [19]:
#Convert a to list     
a = 100
li = list[(a)]

In [26]:
#Convert a to tuple     -- returns error as int can't be converted to tuple
a = 100
tup = tuple(a,)

TypeError: 'int' object is not iterable

In [33]:
#Convert a to dict  
a = 100
di = dict({'value':a})
di

{'value': 100}

In [32]:
#Convert a to set  
a = 100
set1 = set({a})
set1

{100}

In [34]:
#Convert to float  
a = 100
flt = float(a)
flt

100.0

In [ ]:
#Observe the errors and note it down for all conversions.  

#Convert a to tuple     --- returns error as int can't be converted to tuple
a = 100
tup = tuple(a,)

# TypeError                                 Traceback (most recent call last)
# Cell In[26], line 3
#       1 #Convert a to tuple 
#       2 a = 100
# ----> 3 tup = tuple(a,)

# TypeError: 'int' object is not iterable

In [38]:
# Q.18.
#Create city = “Pune”  
City = 'Pune'

#Convert to int      
ToInt = int(City)   #-- gives an error as string cannot be converted to integer if characters, if it is a number then it can be converted

ValueError: invalid literal for int() with base 10: 'Pune'

In [39]:
#Convert to float  
City = 'Pune'

flt = float(City)    #-- gives an error as string cannot be converted to integer if characters.. if it is a number then it can be converted

ValueError: could not convert string to float: 'Pune'

In [41]:
#Convert to list   
City = 'Pune'

li = list[City]
li

list['Pune']

In [124]:
#Convert to tuple  
City = 'Pune'

tup = tuple(City)
tup

('P', 'u', 'n', 'e')

In [45]:
#Convert to dict  
City = 'Pune'

di = dict({'Value':City})
di

{'Value': 'Pune'}

In [126]:
#Convert set  
City = 'Pune'

City = set({City})
print(City)
type(City)

{'Pune'}

set

In [ ]:
#Observe errors and note it down for all conversions  (Noted errors below) 
#Create city = “Pune”  
City = 'Pune'

#Convert to int      
ToInt = int(City) 

# ValueError                                Traceback (most recent call last)
# Cell In[38], line 5
#       2 City = 'Pune'
#       4 #Convert to int      
# ----> 5 ToInt = int(City)

# ValueError: invalid literal for int() with base 10: 'Pune'
# -----------------------------------------------------------------------------------------------------------------------------
# #Convert to float  
# City = 'Pune'

# flt = float(City)

# ValueError                                Traceback (most recent call last)
# Cell In[39], line 4
#       1 #Convert to float  
#       2 City = 'Pune'
# ----> 4 flt = float(City)

# ValueError: could not convert string to float: 'Pune'

In [47]:
#Q.19. 
#Create a list as marks = [20,18,15,17,18] 
marks = [20,18,15,17,18] 

#Convert to int  
ToInt = int(marks)
ToInt

SyntaxError: invalid non-printable character U+202F (3292179576.py, line 3)

In [48]:
#Convert float  
marks = [20,18,15,17,18] 
flt1 = float(marks)
flt1

SyntaxError: invalid non-printable character U+202F (3181979423.py, line 2)

In [49]:
#Convert list  
marks = [20,18,15,17,18] 
li = list([marks])
li

SyntaxError: invalid non-printable character U+202F (2816303377.py, line 2)

In [50]:
#Convert tuple  
marks = [20,18,15,17,18]

tup = tuple(marks)
tup

(20, 18, 15, 17, 18)

In [53]:
#Convert dict  

marks = [20,18,15,17,18]

di = dict({'value':marks})
di

{'value': [20, 18, 15, 17, 18]}

In [56]:
#Convert set  
marks = [20,18,15,17,18]

st1 = set(marks)
st1

#observe : errors and note it down for all conversions

{15, 17, 18, 20}

In [315]:
#Q 20. LIST OPERATIONS
#Create the empty list snames  
snames = []

#Add value 20 in the list using append
snames.append(20)
snames

[20]

In [304]:
#Add value 30 in the list using extend 
snames.extend(30)    #only inserts/adds characters/string

TypeError: 'int' object is not iterable

In [316]:
#Add values in the list using append  

snames.append(10)
snames.append(40)
snames.append(50)

In [308]:
snames

[20, 10, 20, 40]

In [317]:
#Add value “WORK" in the list using extend  

snames.extend('WORK')
snames

[20, 10, 40, 50, 'W', 'O', 'R', 'K']

In [318]:
#Create a new list combo having the values [1, ‘a’, ‘b’ ,2 , 3]  

combo = [1, 'a', 'b', 2, 3]
combo

[1, 'a', 'b', 2, 3]

In [320]:
#Add sname to combo using addition operator  

snames + combo

[20, 10, 40, 50, 'W', 'O', 'R', 'K', 1, 'a', 'b', 2, 3]

In [322]:
#Add combo to snames using append  

snames.append(combo)
snames

[20, 10, 40, 50, 'W', 'O', 'R', 'K', [1, 'a', 'b', 2, 3]]

In [ ]:
#Add combo to snames using extend.

snames.extend(combo)
snames

[20, 10, 40, 50, 'W', 'O', 'R', 'K', [1, 'a', 'b', 2, 3], 1, 'a', 'b', 2, 3]

In [59]:
# Q 21. Create one list l1 having two elements and l3 having 7 elements. Now at 4th position of l3 add l1 
l1 = [6,'Basics']
l3 = [1,2,3,4,5,'apples',6]
l3.insert(4,l1)

l3

[1, 2, 3, 4, [6, 'Basics'], 5, 'apples', 6]

In [62]:
# Q 22. Collection is the list having values [1,2,3,[‘a’, ‘b’, ‘c’], 100, ‘Nisha’, 20.50, 90.10 ]
#  if the data is in integer or float then multiply with 5.

Collection  = [1,2,3,['a', 'b', 'c'], 100, 'Nisha', 20.50, 90.10]
for i in Collection:
    if type(i) == int or type(i) == float:
        i = i * 5
    print(i)

5
10
15
['a', 'b', 'c']
500
Nisha
102.5
450.5

In [63]:
# • From the collection delete the record for “Nisha”  

Collection  = [1,2,3,['a', 'b', 'c'], 100, 'Nisha', 20.50, 90.10]

Collection.remove('Nisha')
Collection

[1, 2, 3, ['a', 'b', 'c'], 100, 20.5, 90.1]

In [64]:
# • Find the location of 20.50 

Collection  = [1,2,3,['a', 'b', 'c'], 100, 'Nisha', 20.50, 90.10]
Collection.index(20.50)

6

In [6]:
# Q.23. Create a comprehensive list for square upto 10  

[i ** 2 for i in range(1, 11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [83]:
# Q 24. Create the comprehensive list to find number divisible by 13 till 200 

[i for i in range(1, 201) if i % 13 == 0]

[13, 26, 39, 52, 65, 78, 91, 104, 117, 130, 143, 156, 169, 182, 195]

In [38]:
# Q.25. Create the list which is divisible by 4 from 300 to 400   

[i for i in range(300, 401) if i % 4 == 0 ]  #-- comprehensive list

Li = []                                     #-- simple list
for i in range(300, 401):
    if i % 4 == 0:
        Li.append(i)

print(Li)

[300, 304, 308, 312, 316, 320, 324, 328, 332, 336, 340, 344, 348, 352, 356, 360, 364, 368, 372, 376, 380, 384, 388, 392, 396, 400]

In [97]:
# Q.26. Create a comprehensive list to generate list up to x, y as a number. 
# For example if x = 3 list will be # x_list = [0,1,2] and y=2 then y_list =[0,1] 

x = int(input("Enter number of elements in x_list :"))
y = int(input("Enter number of elements in y_list :"))

x_list = [i for i in range(x)]
y_list = [i for i in range(y)]

print(x_list)
print(y_list)

Enter number of elements in x_list : 6
Enter number of elements in y_list : 4

[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3]

In [107]:
#Q.26. Continued..
# Then generate a new list based on all combination of x and y. 
# For example: if x = 1 and y =2  then x_list = [0] and y_list = [0,1] 
# And output will be [[0,0],[0,1]] 
# If x=2 and y = 2 then output will be [[0,0],[0,1][1,0],[1,1]]

x = int(input("Enter number of elements in x_list :"))
y = int(input("Enter number of elements in y_list :"))

x_list = [i for i in range(x)]
y_list = [i for i in range(y)]

print(x_list)
print(y_list)

combo_list = [[i, j] for i in x_list for j in y_list]
print(combo_list)

Enter number of elements in x_list : 2
Enter number of elements in y_list : 2

[0, 1]
[0, 1]
[[0, 0], [0, 1], [1, 0], [1, 1]]

In [77]:
#Q.27. What is the difference between add and update methods in set?

set1 = {1,2,3,4,'work',8,4,'bm'}
set1.add('English')   #--> adds anywhere
set1.update('Hindi')  #--> separates the element 
set1

{1, 2, 3, 4, 8, 'English', 'H', 'bm', 'd', 'i', 'n', 'work'}

In [78]:
#Q.28. What is the difference between append and extend methods in list?

Li = [1, 2,'Swan', 54, 29, [6, 7, 8], 21]
Li.append(['a','b','c']) #adds at end
Li.extend('Knowledge')   #adds separatedly
Li

[1,
 2,
 'Swan',
 54,
 29,
 [6, 7, 8],
 21,
 ['a', 'b', 'c'],
 'K',
 'n',
 'o',
 'w',
 'l',
 'e',
 'd',
 'g',
 'e']

In [85]:
#Q.29. What is the difference between pop and remove methods?
Li1 = [1,2,7,3,'India', 87, 32,'Word',12]
Li1.pop(2)           #pops at 2nd index
Li1.remove('Word')   #removes element
Li1

[1, 2, 3, 'India', 87, 32, 12]

In [87]:
#Q.30. What is the difference between discard, pop, remove methods?
set1 = {1,2,7,3,'India', 87, 32,'Word',12}
set1.discard(87)
set1.pop()           #pops any random element, popped 32 here
set1.remove('Word')
set1

{1, 12, 2, 3, 7, 'India'}

In [ ]:
#Q.31. How to create empty set?
s1 = {}

In [81]:
#Q.32. Create the set s1 and s2 and perform set operations like union, intersection, difference, set difference.

s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8}

#union
print(s1 | s2)

#intersection
print(s1 & s2)

#difference
print(s1 - s2)

#set difference
print(s2 - s1)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6}
{1, 2, 3}
{8, 7}

In [84]:
#Q.33. Create l2 as a list and perform set operation on s1 with l2
s1 = {1,2,3,4,5,6}
l2 = [4,5,6,7,8,9]

#union
print(s1|set(l2))   #performing set operations on list returns error so converted list to set

#intersection
print(s1 & set(l2))

#difference
print(s1 - set(l2))

#set difference
print(set(l2) - s1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{1, 2, 3}
{8, 9, 7}

In [112]:
# Q.34. Ask user to enter the name and DOB and generate the password based on first name 4 
# characters and  @ddmm. For example name = SURESH and DOB = 05-05-1978 then password 
# will be SURE@0505  

name = input("Enter your name:")
DOB = input("Enter your Date Of Birth (dd-mmm-yyyy):")

namepart = name[:4].upper()
dobpart = DOB[:5].replace("-","")

passwd = namepart + "@" + dobpart
passwd

Enter your name: gauri
Enter your Date Of Birth (dd-mmm-yyyy): 01-06-1998

'GAUR@0106'

In [116]:
# Q.35. Ask user to enter the name and DOB and generate the password based on first name 4 
# characters and  last 4 digits of DOB or year @yyyy. For example name = SURESH and DOB = 05
# 05-1978 then password will be SURE@1978 

name = input("Enter your name:")
DOB = input("Enter your Date Of Birth (dd-mmm-yyyy):")

namepart = name[:4].upper()
dobpart = DOB[-4:]

passwd = namepart + "@" + dobpart
passwd

Enter your name: suresh
Enter your Date Of Birth (dd-mmm-yyyy): 01-01-1998

'SURE@1998'

In [1]:
# Q.36. Create the format mentioned here.

# *

# * *

# * * *

# * * * *

for i in range(5): 
    print("* " * i,"\n")

*

* *

* * *

* * * *

In [3]:

# Q.37. Create the format as mentioned below:

# ****

# ***

# **

# *

for i in range(4, 0, -1):
    print("* " * i,"\n")

* * * *

* * *

* *

*

In [9]:
# Q.38. Str_val = “ABCD” then create the format as mentioned below:

# A

# A B

# A B C

# A B C D

# # With two loops
Str_val = 'ABCD'
# for i in range(len(Str_val)):
#     for j in range(i + 1):
#         print(Str_val[j], end = " ")
#     print()

# With one loop
for i in range(1, 5):
    print(Str_val[:i])

A
AB
ABC
ABCD

In [9]:
# Q.39. Create the format mentioned below:

# A

# BB

# CCC

# DDDD

# With one loop
Str_val = 'ABCD'

for i in range(len(Str_val)):
    print(Str_val[i] * (i + 1))

A
BB
CCC
DDDD

In [12]:
# Q.40. Create the format mentioned below:

# 1

# 22

# 333

# 4444

for i in range(5):
    print(str(i) * i)

1
22
333
4444

In [16]:
# Q.41. Val = “ABCD” based on the Val, create the format mentioned below

# D

# DC

# DCB

# DCBA

Val = "ABCD"

rev = Val[::-1]  # to reverse the string

for i in range(1, len(rev) + 1):
    print(rev[:i])

D
DC
DCB
DCBA

In [18]:
# Q.42. Ask user to enter the string. If string is UPGRAD then output must be

# D

# DA

# DAR

# DARG

# DARGP

# DARGPU
# User may pass any string.

s = input("Enter string: ")

rev = s[::-1]

for i in range(1, len(rev) + 1):
    print(rev[:i])

Enter string:  SANIKA

A
AK
AKI
AKIN
AKINA
AKINAS

In [19]:
# Q.43. Create a list of odd numbers from 1 to 10

# 1. Using for loop

# 2. Using comprehensive list

# # 1.
Odd_Li = []
for i in range(1, 10):
    if i % 2 != 0:
        Odd_Li.append(i)
print(Odd_Li)

# 2.
[i for i in range(1, 11) if i % 2 != 0]

[1, 3, 5, 7, 9]

[1, 3, 5, 7, 9]

In [34]:
#Q.44. Create even number list using for loop from 200 to 250

Even_Li = []
for i in range(200, 251):
    if i % 2 == 0:
        Even_Li.append(i)
print(Even_Li)

[200, 202, 204, 206, 208, 210, 212, 214, 216, 218, 220, 222, 224, 226, 228, 230, 232, 234, 236, 238, 240, 242, 244, 246, 248, 250]

In [5]:
#Q.45. List2 = [2,70,'work', para, 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]

List2 = [2,70,'work', 'para', 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]

# Multiply each and every element by 2 and display the answer
updated_list = []

for i in List2:
    if type(i) in (int, float, str):     # if isinstance(i, (int, float, str))
        updated_list.append(i * 2)
    elif type(i) == list:
        updated_list.append(i * 2)
    elif type(i) == tuple:
        updated_list.append(i * 2)
    elif type(i) == set: 
        updated_list.append(i.union(i))   # sets can't multiply
    elif type(i) == dict:
        updated_list.append(i)  # dictionary can't multiply

print(updated_list)

[4, 140, 'workwork', 'parapara', 5.0, [1, 2, 3, 1, 2, 3], (1, 2, 1, 2), {1, 2}, {1: 'a', 2: 'b'}, 6, 20, 605.0]

In [127]:
#Q.46. List2 = [2,70,'work', para, 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]
#Multiply each and every element from list2 by 2 and store the answer in list3

List2 = [2,70,'work', 'para', 2.5, [1,2,3], (1,2), {1,2}, {1:'a', 2:'b'}, 3,10,302.5]

# Multiply each and every element by 2 and display the answer
List3 = []

for i in List2:
    if type(i) in (int, float, str): 
        List3.append(i * 2)
    elif type(i) == list:
        List3.append(i * 2)
    elif type(i) == tuple:
        List3.append(i * 2)
    elif type(i) == set:
        List3.append(i.union(i))   # sets can't multiply
    elif type(i) == dict:
        List3.append(i)  # dictionary can't multiply

print(List3)

[4, 140, 'workwork', 'parapara', 5.0, [1, 2, 3, 1, 2, 3], (1, 2, 1, 2), {1, 2}, {1: 'a', 2: 'b'}, 6, 20, 605.0]

In [104]:
#Q.47. Create a function to accept marks from user utilize exception concept to validate proper marks.

def accept_marks():
    try:
        if marks < 0 or marks > 100:
            raise ValueError()

        print("Valid marks entered:", marks)

    except ValueError :
        print("Marks should be between 1 to 100")

marks = int(input("Enter marks: "))
accept_marks()

Enter marks:  1011

Marks should be between 1 to 100

In [128]:
#Q.48. Create a function to validate user first name/last name. 
#User first name/last name should contain only characters. No special characters, numbers, space in name

def ValidateName(FirstName, LastName):
    if FirstName.isalpha() and LastName.isalpha():
        return f"{FirstName} {LastName}"
    else:
        return "Invalid name!"

FirstName = input("Enter your first name:")
LastName = input("Enter your last name:")

ValidateName(FirstName, LastName)

Enter your first name: Sanika
Enter your last name: Kadam

'Sanika Kadam'

In [130]:
#Q.49. Create a function to accept mobile number. Mobile number should contain 10 digits. No Special character, alphabets and space.

def ValidateMob(MobNo):
    if MobNo.isdigit() and len(MobNo) == 10: 
        return f"Your Mobile Number is : {MobNo}"
    elif len(MobNo) > 10 and MobNo.isdigit():
        return "Number exceeds 10 digits"
    else:
        return "Not Valid Number"

MobNo = input("Enter your mobile number:")

ValidateMob(MobNo)

Enter your mobile number: 547384748493030

'Number exceeds 10 digits'

In [131]:
#Q.50. Create a function to generate auto-password based on specific person details. 
# Ask user to enter name, DOB. And password must be First name 4 characters and year of birth.

def AutoPass(Name, DOB):
    if Name.isalpha() and DOB[2] == '/' and DOB[5] == '/':
        Pass = Name[:4] + DOB[-4:]
        return Pass
    else:
        return "Invalid Input!"

Name = input("Enter your Name:")
DOB = input("Enter your Date Of Birth (dd/mm/yyyy):")

AutoPass(Name, DOB)

Enter your Name: Sunita
Enter your Date Of Birth (dd/mm/yyyy): 02/08/1982

'Suni1982'

In [118]:
#Q.51. Create a empty dictionary and ask user to enter values as name, DOB, mobile number 
# add all the details in dictionary with customer number as 1 for first time. 
#If user try to enter another value, then number should increase as 2 with new details and previous values should not change.

# For example: {}
# {1:{name : "Sachin", "DOB": "21-06-1965" , "mobile": "1234123423"}}
 
# {1:{name : "Sachin", "DOB": "21-06-1965" , "mobile": "1234123423"},
# 2: {name : "Sumedh", "DOB": "02-02-2002" , "mobile": "1234123433"}}

Details = {}

def add_details(name, dob, mobile):
    if name.isalpha() and len(dob) == 10 and dob[2] == '-' and dob[5] == '-' and mobile.isdigit() and len(mobile) == 10:
        
        Customer_Cnt = len(Details) + 1   # auto-increments customer count
        
        Details[Customer_Cnt] = {
            'Name': name,
            'DOB': dob,
            'Mobile': mobile
        }
        print(f"{Customer_Cnt} Customer(s) added successfully!")
    else:
        print("Invalid Input")


Customer_Cnt = int(input("Enter number of customers to add: "))

for i in range(Customer_Cnt):
    print(f"\nEnter details for customer {i + 1}")
    
    name = input("Enter Name: ")
    dob = input("Enter DOB (dd-mm-yyyy): ")
    mobile = input("Enter Mobile Number: ")
    
    add_details(name, dob, mobile)

print("\nCustomer Details:")
print(Details)

Enter number of customers to add:  2

Enter details for customer 1

Enter Name:  Sanika
Enter DOB (dd-mm-yyyy):  01-03-1992
Enter Mobile Number:  5463758798

1 Customers added successfully!

Enter details for customer 2

Enter Name:  Ganesh
Enter DOB (dd-mm-yyyy):  03-12-2001
Enter Mobile Number:  7684967496

2 Customers added successfully!

Final Customer Details:
{1: {'Name': 'Sanika', 'DOB': '01-03-1992', 'Mobile': '5463758798'}, 2: {'Name': 'Ganesh', 'DOB': '03-12-2001', 'Mobile': '7684967496'}}

-------------------------------------

In [50]:
#Q.56. Create a function to calculate age till now.

def CalAge(DOB):
    dob = datetime.strptime(DOB,"%Y-%m-%d").date()
    CurrentDate = datetime.today().date()
    Age = CurrentDate.year - dob.year
    
    if (CurrentDate.month, CurrentDate.day) < (dob.month, dob.day):    #if birthday not happened yet this year so 
        Age = Age - 1   #becoz even if 23 is running but 22 is completed so
    return Age

DOB = input("Enter your DOB:")
print("Your Age is:",CalAge(DOB))

Enter your DOB: 2003-02-01

Your Age is: 23

In [ ]:
#Q.57. Create a function to check age eligibility for given customer based on DOB. 
#Function will take two input DOB and ELIGIBILITY age.

In [33]:
#Q.58. Create a function to check if string is palindrome or not ? 
#For example, if input is NITIN then reverse of the string is same then it is palindrome. If input is ANIL then reverse is LINA which is not same then it is not palindrome.

def IsPalindrome():

    str1 = input("Enter string:")
    rev = str1[ : :-1]
    if str1 == rev:
        return "String is a Palindrome"
    else:
        return "String is not a Palindrome"

IsPalindrome()

Enter string: NITIN

'String is a Palindrome'

In [37]:
#Q.59. Create a function to generate a Fibonacci Series. 0 1 1 2 3 5 8 13 21 34 ….. upto 100

def Fibonacci(n):
    a = 0
    b = 1
    i = 0
    while i < n:
        print(a, end=" ")
        a, b = b, a + b
        i += 1
    
n = int(input("Enter number of terms: "))

Fibonacci(n)

Enter number of terms:  10

0 1 1 2 3 5 8 13 21 34

In [40]:
#Q.60. Write a code to generate factorial of the number For example: factorial of 5 = 5! = 5*4*3*2*1

def factorial(n):
    fact = 1
    for i in range(1, n + 1):
        fact = fact * i
    return fact

num = int(input("Enter a number: "))
print("Factorial of", num, "is:", factorial(num))

Enter a number:  4

Factorial of 4 is: 24

In [61]:
#Q.61. Write a program to find largest number in the list.

lst = [10, 25, 5, 40, 90, 15]

largest = lst[0]

for i in lst:
    if i > largest:
        largest = i

print("Largest numbers is : ",largest)

# print(max(lst))

Largest numbers is :  90

In [69]:
#Q.62. Write a program to check frequency of each element in the list.
lst = [1, 1, 0, 25, 0, 5, 40, 90, 15, 40]

freq = {}

for i in lst:
    if i in freq:
        freq[i] = freq[i] + 1
    else:
        freq[i] = 1

print(freq)

{1: 2, 0: 2, 25: 1, 5: 1, 40: 2, 90: 1, 15: 1}

In [73]:
#Q.63. There are two string l1 =[ 1,2,3,4,5] and l2 =[3,2,8,7,9] then write a program to find common elements in the list.

l1 =[1,2,3,4,5] 
l2 =[3,2,8,7,9]

l1 = set(l1)
l2 = set(l2)

print(list(l1 & l2))

[2, 3]

In [47]:
#Q.66. Build a function to print bill. Generate the bill as mentioned below.

def HotelBill():
    menu = {
        1: ("Idli", 10),
        2: ("Dosa", 60),
        3: ("Uttapa", 25),
        4: ("Medu Vada", 15)
    }
    
    print('-----------------------------------------')
    print("{:^40}".format('Welcome To Simply South'))
    print('-----------------------------------------')
    print("{:15} {:10} {:10} {:>8}".format('Sr.no.', 'Menu', 'Quant', 'Price'))
    
    # Show only menu list first
    for key, value in menu.items():
        print("{:10} {:10}".format(key, value[0]))
    
    print('-----------------------------------------')
    
    choice = int(input("Enter item number: "))
    qty = int(input("Enter quantity: "))
    
    item_name, rate = menu[choice]
    total_price = qty * rate
    
    print('-----------------------------------------')
    print("{:<10} {:10} {:10} {:>8}".format('Sr.no.', 'Menu', 'Quant', 'Price'))
    print("{:<10} {:10} {:10} {:>8}".format(choice, item_name, qty, total_price))
    print('-----------------------------------------')

HotelBill()

-----------------------------------------
        Welcome To Simply South
-----------------------------------------
Sr.no.          Menu       Quant         Price
         1 Idli
         2 Dosa
         3 Uttapa
         4 Medu Vada
-----------------------------------------

Enter item number:  1
Enter quantity:  2

-----------------------------------------
Sr.no.     Menu       Quant         Price
1          Idli                2       20
-----------------------------------------